.slider-container {
    @include media-query($medium-up) {
        margin-bottom: 50px;
    }
}

.slider-header {
    text-align: center;
    padding: 21px;
}

.slider {
    overflow-x: auto;
    width: 80%;
    margin: 0 auto;
}

.slider-track {
    display: grid;

    &.track--4-2 {
        grid-template-columns: repeat(4, calc(50% - 20px)) calc(50% - 20px);
        grid-column-gap: 20px;

        @include media-query($medium-up) {
            grid-template-columns: repeat(4, calc(25% - 20px)) calc(25% - 20px);
            grid-column-gap: 20px;
        }
    }

    &.track--5-3 {
        grid-template-columns: repeat(4, calc(33.33333% - 20px)) calc(33.33333% - 20px);
        grid-column-gap: 20px;

        @include media-query($medium-up) {
            grid-template-columns: repeat(4, calc(20% - 20px)) calc(20% - 20px);
            grid-column-gap: 20px;
        }
    }
                
}

.slide {
    
}