.feature-row-container {
    display: flex;
    padding: 10px 7px;
}
.feature-item {
    flex: 0 1 33.33333%;
    padding: 20px;
    box-sizing: border-box;
}

.feature-item-inner {
    position: relative;
    display: block;
}

.feature-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 5px 0 12px;
}