.feature-row-container {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;

    @include media-query($medium-up) {
        padding: 20px;
    }
}
.feature-item {
    flex: 1 0 50%;
    padding: 7px;
    box-sizing: border-box;

    @include media-query($medium-up) {
        flex: 0 1 33.33333%;
        padding: 20px;
    }
}

.feature-item-inner {
    position: relative;
    display: block;
}

.feature-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
}