.announcement-bar {
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    padding: 3px 0;
    text-transform: uppercase;

    @include media-query($medium-up) {
        padding: 10px 0 8px; // check with designer
    }
}
.header {
    background-color: $color-primary;
    color: $color-white;
    position: relative;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    margin: 0;
    padding: 5px 0;

    a {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        max-height: 45px;
    }
}

.header-icon-menu {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include media-query($medium-up) {
        display: none;
    }
}

.header-icon-cart {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include media-query($medium-up) {
        display: none;
    }
}

// navbar desktop
.menu-desktop {
    display: none;

    @include media-query($medium-up) {
        display: flex;
        justify-content: center;
    }
}

.menu-item {
    margin-left: 35px;
}

