html {
  font-size: 62.5%;
}

body {
  font-family: $font-body-family;
//   font-weight: $font-body-weight;
//   font-style: $font-body-style;
  font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: $font-body-family;
}
