@font-face {
    font-family: "Pacifico";
    src: url("../fonts/pacifico/Pacifico.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Medium.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("../fonts/lato/Lato-Light.ttf");
}