// Colors
$color-primary: #10504F;
$color-black: #000000;
$color-white: #FFFFFF;

// Typography
$font-body-family: 'Lato Light', sans-serif;
$font-special: 'Pacifico', serif;

// Grid
$grid-medium: 750px;
$grid-max-width: 1680px;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$medium-up: 'medium-up';


$breakpoints: (
    $medium-up '(min-width: #{$grid-medium})',
);

